body {
    background: url(background.jpg) no-repeat center; 
    color: white; 
  }
  
  .container {
    background-color: white; 
    color: black;
    padding: 100px;
    margin-top: 100px; 
    border-radius: 8px; 
  }
  
  
  input[type="text"] {
    background-color: #f8fafc; 
    border: 1px solid #ccc; 
    color: #495057; 
  }
  
  .navbar {
    background-color: #fff;
    height: 80px; 
    margin: 20px;
    border-radius: 16px;
    padding: 0.5rem;
}

.navbar-brand {
    font-weight: 500;
    color: #1e293b;
    font-size: 24px;
    transition: 0.3s color;
}

.login-button {
    background-color: #334155;
    color: #fff;
    font-size: 14px;
    padding: 8px 20px;
    border-radius: 50px;
    text-decoration: none;
    transition: 0.3s background-color;
}

.login-button:hover {
    background-color: #00b383;
}

.navbar-toggler {
    border: none;
    font-size: 1.25rem;
}

.navbar-toggler:focus, .btn-close:focus {
    box-shadow: none;
    outline: none;
}

.nav-link{
    color: #666777;
    font-weight: 500;
    position: relative;
}

.nav-link:hover, .nav-link.active {
    color: #000;
}

@media (min-width: 991px) {
    .nav-link::before{
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 2px;
        background-color: #334155;
        visibility: hidden;
        transition: 0.3s ease-in-out;
    }

    .nav-link:hover::before {
        width: 100%;
        visibility: visible;
    }
}

.hero-section {
    background: url(background.jpg) no-repeat center;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

/* Shades out background image */
/* .hero-section::before {
    background-color: rgba(0, 0, 0, 0.6);
    content: "";
    position: absolute;
    top: 0;
    right: 0; 
    bottom: 0;
    left: 0;
} */

.card {
    background-color: #ffffff;
    border: none; 
    box-shadow: 0 4px 8px rgba(0,0,0,0.2); 
}

.card-body p {
    margin: 0;
}

.card-body {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px; 
    height: 70px;
}

#average-grade {
    font-size: 24px; 
    color: #333; 
    font-weight: bold;
}

#average-grade-value p {
    color: #4CAF50; 
}